<!DOCTYPE html>
<html>
  <head>
    <title>Socket.IO chat</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script>
      const messageDB = '';
    </script>
    <script type="application/javascript" src="/socket.io/socket.io.js"></script>
    <script defer language="JavaScript" type="text/javascript" src="/index.js"></script>
    
  </head>
  <body>
    <h1>Welcome</h1>
    <h2>This is a chat app</h2>
    <p id="infoMessage"></p>
    <p>Please enter an unique name without whitespaces</p>
    <form id="formLogin" action="/index" method="POST">
        <label for="newUser">Enter your name</label>
        <input name="newUser" type="text" required>
        <button type="submit">Enter chat room</button>
    </form>
    <h2>assigned names:</h2>
    <ul id="listUserNames">
    </ul>  

    <h2>This chat app is made with:</h2>
    <ul>
      <li>JavaScript ES6/Typescript/HTML5/CSS3</li>
      <li>express</li>
      <li>EJS</li>
      <li>socket.io</li>
      <li>dotenv</li>
    </ul>
  </body>
</html>